/** {
    margin:0;
    padding: 0;
}*/

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: BiblonBold;
  src: url(BiblonITC-Bold.otf);
}

@font-face {
  font-family: BiblonIt;
  src: url(BiblonITC-BoldItalic.otf);
}

@font-face{
     font-family: BiblonReg;
    src: url(BiblonITC.otf);
}

@font-face{
     font-family: SerapionReg;
    src: url(Serapion.otf);
}

@font-face{
     font-family: SerapionBold;
    src: url(Serapion-Bold.otf);
}

section {
  width: 100%;
  /*height: 300vh;*/
/*  background: url(bg.jpg) no-repeat;*/
  background-size: cover;

}

html {
  scroll-behavior: smooth;
}

.gotopbtn {
  position: fixed;
  width: 3vw;
  height: 3vw;
  background-color: lightgreen;
  bottom: 5vw;
  right: 5vw;
}
/*{
    font-family: "Serapion";
    src: url(Serapion.otf);
    width: 80%;
    margin: 0 auto;
}


{
    font-family: "Serapion";
    src: url(Serapion.ttf);
    width: 80%;
    margin: 0 auto;
}*/



/*{
    font-family: "Serapion-Bold";
    src: url(Serapion-Bold.otf);
    width: 80%;
    margin: 0 auto;
}

{
    font-family: "Serapion-BoldItalic";
    src: url(Serapion-BoldItalic.otf);
    width: 80%;
    margin: 0 auto;
}

{
    font-family: "Serapion-Italic";
    src: url(Serapion-Italic.otf);
    width: 80%;
    margin: 0 auto;
}*/




/*{
    font-family: "SerapionBold";
    src: url(SerapionBold.ttf);
    width: 80%;
    margin: 0 auto;
}

{
    font-family: "SerapionBold";
    src: url(SerapionBold.ttf);
    width: 80%;
    margin: 0 auto;
}

{
    font-family: "SerapionBoldItalic";
    src: url(SerapionBoldItalic.ttf);
    width: 80%;
    margin: 0 auto;
}


{
    font-family: "SerapionItalic";
    src: url(SerapionItalic.ttf);
    width: 80%;
    margin: 0 auto;
}*/

/* Create four equal columns that floats next to each other */
.head{
  font-family: 'Arial';
  font-size: 1vw;
  text-align: center;
  background-color: lightgreen;
}




.header {
    font-family: 'BiblonReg';
    text-align: left;
    font-size: 4vw;
    border-bottom: none;
    margin-left: 5%;

}

.trigger2 {
      line-height: 1.2;
}

.toggle2 {
  font-family: 'Arial';
}

.trigger3 {
      line-height: 1.2;
}

.toggle3 {
  font-family: 'Arial';
}

.trigger4 {
      line-height: 1.2;
}

.toggle4 {
  font-family: 'Arial';
}

.trigger5 {
      line-height: 1.2;
}

.toggle5 {
  font-family: 'Arial';
}

.trigger6 {
      line-height: 1.2;
}

.toggle6 {
  font-family: 'Arial';
}

.trigger7 {
      line-height: 1.2;
}

.toggle7 {
  font-family: 'Arial';
}

.trigger8 {
      line-height: 1.2;
}

.toggle8 {
  font-family: 'Arial';
}

.trigger9 {
      line-height: 1.2;
}

.toggle9 {
  font-family: 'Arial';
}

.trigger10 {
      line-height: 1.2;
}

.toggle10 {
  font-family: 'Arial';
}

.trigger11 {
      line-height: 1.2;
}

.toggle11 {
  font-family: 'Arial';
}


.navbar{
      font-family: 'BiblonReg';
}


      .fixed-nav {
        font-family: 'BiblonReg';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #ddd;
        white-space: nowrap;
        height: 50px;
        box-sizing: border-box;
        padding: 10px;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.16),0px 3px 6px rgba(0,0,0,0.23);      
      }
 
      .fixed-nav ul, .fixed-nav li {
        display:inline;
      }
 
      .fixed-nav a {
        text-decoration: none;
        text-transform: uppercase;
        padding: 17px 10px;
        color: #333;
        font-family: 'BiblonReg';
      }
 
      .fixed-nav a:hover {
        background-color: #000;
        color: #eee;
      }
 
      .fixed-nav ul {
        padding:0;
      }
      .fixed-nav img {
        vertical-align: middle;
      }
      main {margin-top:55px;}

/*.toggle{
  visibility: hidden;
}*/


/*p {
    border-bottom: 1px solid black;
  border-width: 10%;  
  }*/



























